/* ------
VARIABLES DECLARATION 
------*/
/* Colors */
/* Typos */
/* Breaking points */
/*Header */
/* Z-index */
/* ------
END VARIABLES DECLARATION 
------*/
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1440px) {
  button {
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  .header,
.main,
.footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1rem;
}
@media screen and (min-width: 1440px) {
  .header {
    height: 80px;
    padding: 2rem;
  }
}
.header .navigation {
  flex-basis: 60%;
}
@media screen and (min-width: 1440px) {
  .header .navigation {
    flex-basis: 50%;
    display: flex;
    align-items: center;
  }
}
.header .menu-btn {
  margin-right: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .header .menu-btn {
    display: none;
  }
}
.header .navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 200px;
  transform: translateX(-500px);
  background-color: white;
  transition: 0.3s;
}
@media screen and (min-width: 1440px) {
  .header .navigation-menu {
    position: static;
    z-index: 1;
    width: auto;
    transform: translateX(0);
    background-color: transparent;
  }
}
.header .navigation-menu .close-menu-btn {
  margin: 1rem 0;
  padding-left: 1.75rem;
}
@media screen and (min-width: 1440px) {
  .header .navigation-menu .close-menu-btn {
    display: none;
  }
}
.header .navigation-menu .links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 1440px) {
  .header .navigation-menu .links {
    flex-direction: row;
    padding: 0;
    margin-left: 2rem;
  }
}
.header .navigation-menu .links a {
  color: #1d2025;
  font-weight: 700;
  text-decoration: none;
  padding: 0.75rem;
}
@media screen and (min-width: 1440px) {
  .header .navigation-menu .links a {
    padding: 0 0.75rem;
    color: #b6bcc8;
    font-weight: 400;
  }
}
.header .show-menu {
  transform: translateX(0);
}
.header .actions {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 40%;
  justify-content: flex-end;
}
@media screen and (min-width: 1440px) {
  .header .actions {
    flex-basis: 50%;
  }
}
.header .shopping-cart-btn {
  margin-right: 0.5rem;
}
.header .shopping-cart-btn,
.header .profile-btn {
  width: 35px;
}
.header .shopping-cart-btn > img,
.header .profile-btn > img {
  width: 100%;
}
.header .cart {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 95%;
  margin: 0 auto;
  padding: 1.2rem;
  background-color: white;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1440px) {
  .header .cart {
    top: 80px;
    left: auto;
    transform: translateX(0);
    right: 0;
    width: 400px;
  }
}
.header .cart .title {
  padding-bottom: 2px;
  border-bottom: 1px solid #b6bcc8;
}
.header .show-cart {
  display: block;
}
.header .cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart-product .cart-product-title {
  color: #b6bcc8;
  margin: 0;
}
.header .cart-product .cart-product-image {
  width: 50px;
  border-radius: 5px;
}
.header .cart-product .cart-product-price-details {
  color: #b6bcc8;
}
.header .cart-product .cart-product-price-details > * {
  padding: 0 0.1rem;
}
.header .cart-product .cart-product-total {
  color: black;
  font-weight: 700;
}
.header .cart-product .cart-product-remove-btn {
  background: url("icon-delete.cccd2c6b.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header .cart-checkout {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ff7d1a;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.main {
  margin-bottom: 1.5rem;
}
.main .product-description {
  padding: 2rem;
}
@media screen and (min-width: 1440px) {
  .main .product-description {
    padding: 0 3rem;
  }
}
.main .product-description .subtitle {
  color: #ff7d1a;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .product-description .title {
  color: black;
}
.main .product-description .description {
  color: #b6bcc8;
  font-weight: 700;
}
.main .product-description .price-details {
  display: flex;
  align-items: center;
  justify-content: start;
}
@media screen and (min-width: 1440px) {
  .main .product-description .price-details {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
}
.main .product-description .price {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.main .product-description .reduction {
  margin: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  background-color: #ffede0;
  color: #ff7d1a;
  font-weight: 700;
}
.main .product-description .old-price {
  margin-left: auto;
  color: #b6bcc8;
  font-weight: 700;
  text-decoration: line-through;
}
@media screen and (min-width: 1440px) {
  .main .product-description .old-price {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .main .product-description .add-to-cart {
    display: flex;
    justify-content: space-between;
  }
}
.main .product-description .add-to-cart .change-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f7f8fd;
}
@media screen and (min-width: 1440px) {
  .main .product-description .add-to-cart .change-quantity {
    flex-basis: 40%;
  }
}
.main .product-description .add-to-cart .quantity {
  color: black;
  font-weight: 700;
}
.main .product-description .add-to-cart .add-to-cart-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ff7d1a;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .main .product-description .add-to-cart .add-to-cart-btn {
    flex-basis: 50%;
  }
}
.main .product-description .add-to-cart .cart-icon {
  margin-right: 0.2rem;
}
.main .product-description .add-to-cart .cart-icon path {
  fill: white;
}
.main .slider-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .main .slider-section {
    flex-direction: row;
    align-items: center;
    margin: 5% 0 5% 0;
  }
}
@media screen and (min-width: 1440px) {
  .main .slider-section .slider {
    padding: 0 2rem;
  }
}
.main .slider-section .slider .main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.main .slider-section .slider .main-image .main-photo {
  width: 100%;
  max-height: 325px;
  object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .main .slider-section .slider .main-image .main-photo {
    border-radius: 10px;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
}
.main .slider-section .slider .main-image .slider-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}
.main .slider-section .slider .main-image .slider-buttons button {
  border-radius: 50%;
  border: none;
  background-color: white;
  height: 2em;
  width: 2em;
  margin: 2%;
  cursor: pointer;
  background-size: contain;
}
.main .slider-section .slider .main-image .slider-buttons button img {
  width: 0.5em;
}
@media screen and (min-width: 1440px) {
  .main .slider-section .slider .main-image .slider-buttons {
    display: none;
  }
}
.main .slider-section .slider .other-images {
  display: none;
}
@media screen and (min-width: 1440px) {
  .main .slider-section .slider .other-images {
    display: flex;
    justify-content: space-between;
  }
  .main .slider-section .slider .other-images img {
    background-color: white;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    max-width: 20%;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
  }
  .main .slider-section .slider .other-images img:hover {
    filter: saturate(0.5);
  }
  .main .slider-section .slider .other-images .active {
    border: 2px solid #ff7d1a;
    background-color: #ff7d1a;
  }
}
.main .lightbox {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .lightbox .lightbox-main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .lightbox .lightbox-main-image .lightbox-close {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}
.main .lightbox .lightbox-main-image .lightbox-close .lightbox-close-btn {
  border: none;
  cursor: pointer;
  grid-column: 2;
  padding-bottom: 5px;
}
.main .lightbox .lightbox-main-image .lightbox-close .lightbox-close-btn .lightbox-close-img path {
  width: 40px;
  fill: white;
  transition: 0.4s;
}
.main .lightbox .lightbox-main-image .lightbox-close .lightbox-close-btn .lightbox-close-img:hover path {
  fill: #ff7d1a;
}
.main .lightbox .lightbox-main-image .lightbox-main-photo {
  border-radius: 15px;
  width: 500px;
  position: relative;
}
.main .lightbox .lightbox-main-image .lightbox-slider-buttons {
  width: 500px;
  position: absolute;
}
.main .lightbox .lightbox-main-image .lightbox-slider-buttons .lightbox-left-btn {
  background-image: url("icon-previous.9669bfb5.svg");
  background-size: 10px;
  position: absolute;
  margin: 0;
  left: -20px;
}
.main .lightbox .lightbox-main-image .lightbox-slider-buttons .lightbox-right-btn {
  background-image: url("icon-next.6132a35e.svg");
  background-size: 10px;
  position: absolute;
  margin: 0;
  right: -20px;
}
.main .lightbox .lightbox-main-image .lightbox-slider-buttons button {
  border-radius: 50%;
  border: none;
  background-color: white;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 2%;
  cursor: pointer;
}
.main .lightbox .lightbox-other-images {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 400px;
}
.main .lightbox .lightbox-other-images img {
  max-width: 80px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  transition: 0.3s;
}
.main .lightbox .lightbox-other-images img:hover {
  filter: saturate(0.5);
}
.main .lightbox .lightbox-other-images .active {
  border: 2px solid #ff7d1a;
  background-color: #ff7d1a;
  opacity: 0.6;
}
.footer {
  margin-top: auto;
  padding: 1rem;
}
.footer .attribution {
  font-size: 0, 6875rem;
  text-align: center;
}
.footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=index.c039f583.css.map */
