
/* ------
VARIABLES DECLARATION 
------*/

/* Colors */
$primary: hsl(26, 100%, 55%);
$primary-variant: hsl(25, 100%, 94%);

$neutral-dark-blue : hsl(220, 13%, 13%);
$neutral-dark-greyish-blue : hsl(220, 13%, 13%);
$neutral-greyish-blue : hsl(220, 14%, 75%);
$neutral-light-greyish-blue : hsl(223, 64%, 98%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-black: hsl(0, 0%, 0%);

/* Typos */
$body-font-size: 16px;
$main-font-family: 'Kumbh Sans', sans-serif;

/* Breaking points */
//$desktop: '1440px';
$desktop: '800px';

/* ------
END VARIABLES DECLARATION 
------*/

* {
    box-sizing: border-box;
}

body {
    background-color: $neutral-white;
    font-family: $main-font-family;
}

.header,
.main,
.footer {
    @media screen and (min-width: $desktop) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
        position: relative;
        display: flex;
        align-items: center;
        flex-basis: 50%;
        justify-content: flex-end;
    }

    .shopping-cart-btn,
    .profile-btn {
        width: 35px;

        & > img {
            width: 100%;
        }
    }

    .cart {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50px;
        width: 200px;
        height: 200px;
        padding: .7rem;
        background-color: $neutral-white;
        box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.1);

        .title {
            padding-bottom: 2px;
            border-bottom: 1px solid $neutral-greyish-blue;
        }
    }

    .show-cart {
        opacity: 1;
    }

    .navigation {
        flex-basis: 50%;
        @media screen and (min-width: $desktop) {
            display: flex;
            align-items: center;
        }
    }

    .menu-btn {
        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    .navigation-menu {
        position: fixed;
        top:  0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        transform: translateX(-500px);
        background-color: $neutral-white;
        transition : .3s;

        @media screen and (min-width: $desktop) {
            position: static;
            width: auto;
            transform: translateX(0);
            background-color: transparent;
        }

        .close-menu-btn {
            margin: 1rem 0;
            padding-left: 1.75rem;

            @media screen and (min-width: $desktop) {
                display: none;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            @media screen and (min-width: $desktop) {
                flex-direction: row;
                padding: 0;
                margin-left: 2rem;
            }

            & a {
                color: $neutral-dark-blue;
                font-weight: 700;
                text-decoration: none;
                padding: .75rem;

                @media screen and (min-width: $desktop) {
                    padding: 0 .75rem;
                    color: $neutral-greyish-blue;
                    font-weight: 400;
                }
            }

        }
    }

    .show-menu {
        transform: translateX(0);
    }
}

.main {
    height: 100%;
    margin-bottom: 1.5rem;
}

button {
    background-color: transparent;
    border: none;

    @media screen and (min-width: $desktop) {
        cursor: pointer
    }
}

.product-description {
    padding: 2rem 0;

    @media screen and (min-width: $desktop) {
        padding: 0 4rem;
    }

    .subtitle {
        color: $primary;
        font-size: .75rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .title {
        color: $neutral-black;
    }

    .description {
        color: $neutral-greyish-blue;
        font-weight: 700;
    }

    .price-details {
        display: flex;
        align-items: center;
        justify-content: start;
        
        @media screen and (min-width: $desktop) {
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
        }
    }

    .price {
        color: $neutral-black;
        font-size: 2rem;
        font-weight: 700;
    }

    .reduction {
        margin: 1rem;
        padding: .2rem .4rem;
        border-radius: 5px;
        background-color: $primary-variant;
        color: $primary;
        font-weight: 700;

    }

    .old-price {
        margin-left: auto;
        color: $neutral-greyish-blue;
        font-weight: 700;
        text-decoration:line-through;

        @media screen and (min-width: $desktop) {
            flex-basis: 100%;
        }
    }

    .add-to-cart {
        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
        }
        .change-quantity {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 5px;
            background-color: $neutral-light-greyish-blue;

            @media screen and (min-width: $desktop) {
                flex-basis: 40%;
            }
        }

        .quantity {
            color: $neutral-black;
            font-weight: 700;
        }

        .add-to-cart-btn {
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            background-color: $primary;
            color: $neutral-white;
            font-size: 1rem;
            font-weight: 700;

            @media screen and (min-width: $desktop) {
                flex-basis: 50%;
            }
        }

        .cart-icon {
            margin-right: .2rem;

            path {
                fill: $neutral-white;
            }
        }
    }
}

.slider-section {
    height: 75%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        align-items: center;
    }
    .slider {
        .main-image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5% 0 5%;
            //position: relative;
            // background-image: url("./images/image-product-1.jpg");
            // background-size: 100% auto;
            // height: 200px;
            // //position: absolute;
            left: 0;
            right: 0;
            .main-photo {
                width: 100%;
                // position: absolute;
                // top: 0;
                // bottom: 0;
                //left: 0;
                //right: 0;
                @media screen and (min-width: $desktop) {
                    border-radius: 10px;
                    width: 50%;
                    margin: 5% 0 5% 0;
                    cursor: pointer;
                }
            }

            .slider-buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                z-index: 1;
                button {
                    border-radius: 50%;
                    border: none;
                    background-color: $neutral-white;
                    height: 2em;
                    width: 2em;
                    margin: 2%;
                    cursor: pointer;
                    background-size: contain;
                    img {
                        width: 0.5em;
                    }
                }
                @media screen and (min-width: $desktop) {
                    display: none;
                }
            }
        }

        .other-images {
            display: none;
            @media screen and (min-width: $desktop) {
                display: flex;
                justify-content: space-between;
                img {
                    border-radius: 10px;
                    max-width: 20%;
                    cursor: pointer;
                    .active {
                        border: 2px;
                        border-color: $primary;
                        opacity: 50%;
                    }
                }
            }
        }
    }
}

.lightbox {
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .other-images {
        img {
            max-width: 10%;
        }
    }

    #lightbox-btn-area {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
    
    #close-lightbox-btn {
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: $neutral-white;
        font-size: 300%;
        border: none;
        cursor: pointer;
        grid-column: 2;
        transition: 0.4s;
    }
    
    #close-lightbox-btn:hover {
        color: $primary;
    }
}

.footer {
    .attribution { 
        font-size: 0,6875rem;
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}