
/* ------
VARIABLES DECLARATION 
------*/

/* Colors */
$primary: hsl(26, 100%, 55%);
$primary-variant: hsl(25, 100%, 94%);

$neutral-dark-blue : hsl(220, 13%, 13%);
$neutral-dark-greyish-blue : hsl(220, 13%, 13%);
$neutral-greyish-blue : hsl(220, 14%, 75%);
$neutral-light-greyish-blue : hsl(223, 64%, 98%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-black: hsl(0, 0%, 0%);

/* Typos */
$body-font-size: 16px;
$main-font-family: 'Kumbh Sans', sans-serif;

/* Breaking points */
$desktop: '1440px';

/* ------
END VARIABLES DECLARATION 
------*/

* {
    box-sizing: border-box;
}

body {
    background-color: $neutral-white;
    font-family: $main-font-family;
}

button {
    background-color: transparent;
    border: none;

    @media screen and (min-width: $desktop) {
        cursor: pointer
    }
}

.product-description {
    padding: 2rem 0;
    .subtitle {
        color: $primary;
        font-size: .75rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .title {
        color: $neutral-black;
    }

    .description {
        color: $neutral-greyish-blue;
        font-weight: 700;
    }

    .price-details {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .price {
        color: $neutral-black;
        font-size: 2rem;
        font-weight: 700;
    }

    .reduction {
        margin: 1rem;
        padding: .2rem .4rem;
        border-radius: 5px;
        background-color: $primary-variant;
        color: $primary;
        font-weight: 700;

    }

    .old-price {
        margin-left: auto;
        color: $neutral-greyish-blue;
        font-weight: 700;
        text-decoration:line-through;
    }

    .add-to-cart {
        .change-quantity {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 5px;
            background-color: $neutral-light-greyish-blue;
        }

        .quantity {
            color: $neutral-black;
            font-weight: 700;
        }

        .add-to-cart-btn {
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            background-color: $primary;
            color: $neutral-white;
            font-size: 1rem;
            font-weight: 700;
        }

        .cart-icon {
            margin-right: .2rem;

            path {
                fill: $neutral-white;
            }
        }
    }
}

.main {
    height: 100%;
    section {
        height: 75%;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
        }
        .slider {
            .main-image {
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url('./images/image-product-1.jpg');
                background-size: 100% auto;
                height: 200px;
                //position: absolute;
                left: 0;
                right: 0;
                @media screen and (min-width: $desktop) {
                    border-radius: 10px;
                    background-size: auto 300%;
                    margin-bottom: 5%;
                }
                .slider-buttons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    button {
                        border-radius: 50%;
                        border: none;
                        background-color: $neutral-white;
                        height: 2em;
                        width: 2em;
                        margin: 2%;
                        cursor: pointer;
                        background-size: contain;
                    }
                    @media screen and (min-width: $desktop) {
                        display: none;
                    }
                }
            }
            .other-images {
                display: none;
                @media screen and (min-width: $desktop) {
                    display: flex;
                    justify-content: space-between;
                    img {
                        border-radius: 10px;
                        max-width: 20%;
                    }
                }
            }
        }
    }
}

.footer {
    .attribution { 
        font-size: 0,6875rem;
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}