
/* ------
VARIABLES DECLARATION 
------*/

/* Colors */
$primary: hsl(26, 100%, 55%);
$primary-variant: hsl(25, 100%, 94%);

$neutral-dark-blue : hsl(220, 13%, 13%);
$neutral-dark-greyish-blue : hsl(220, 13%, 13%);
$neutral-greyish-blue : hsl(220, 14%, 75%);
$neutral-light-greyish-blue : hsl(223, 64%, 98%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-black: hsl(0, 0%, 0%);

/* Typos */
$body-font-size: 16px;
$main-font-family: 'Kumbh Sans', sans-serif;

/* Breaking points */
$desktop: '1440px';


/*Header */

$headerMobileHeight: 60px;
$headerDesktopHeight: 80px;

/* Z-index */
$zIndexLightbox: 4;
$zIndexNavMobile: 3;
$zIndexNavDesktop: 1;
$zIndexCart:2;
$zIndexSlider:1;

/* ------
END VARIABLES DECLARATION 
------*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $neutral-white;
    font-family: $main-font-family;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    @media screen and (min-width: $desktop) {
        cursor: pointer
    }
}

.header,
.main,
.footer {
    @media screen and (min-width: $desktop) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerMobileHeight;
    padding: 1rem;

    @media screen and (min-width: $desktop) {
        height: $headerDesktopHeight;
        padding: 2rem;
    }

    .navigation {
        flex-basis: 60%;
        @media screen and (min-width: $desktop) {
            flex-basis: 50%;
            display: flex;
            align-items: center;
        }
    }

    .menu-btn {
        margin-right: .5rem;

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    .navigation-menu {
        position: fixed;
        top:  0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $zIndexNavMobile;
        width: 200px;
        transform: translateX(-500px);
        background-color: $neutral-white;
        transition : .3s;

        @media screen and (min-width: $desktop) {
            position: static;
            z-index: $zIndexNavDesktop;
            width: auto;
            transform: translateX(0);
            background-color: transparent;
        }

        .close-menu-btn {
            margin: 1rem 0;
            padding-left: 1.75rem;

            @media screen and (min-width: $desktop) {
                display: none;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            @media screen and (min-width: $desktop) {
                flex-direction: row;
                padding: 0;
                margin-left: 2rem;
            }

            & a {
                color: $neutral-dark-blue;
                font-weight: 700;
                text-decoration: none;
                padding: .75rem;

                @media screen and (min-width: $desktop) {
                    padding: 0 .75rem;
                    color: $neutral-greyish-blue;
                    font-weight: 400;
                }
            }

        }
    }

    .show-menu {
        transform: translateX(0);
    }

    .actions {
        position: relative;
        display: flex;
        align-items: center;
        flex-basis: 40%;
        justify-content: flex-end;
        @media screen and (min-width: $desktop){
            flex-basis: 50%;
        }
    }

    .shopping-cart-btn {
        margin-right: .5rem;
    }

    .shopping-cart-btn,
    .profile-btn {
        width: 35px;

        & > img {
            width: 100%;
        }
    }

    .cart {
        opacity: 0;
        position: absolute;
        top: calc($headerMobileHeight * 2);
        left: 50%;
        transform: translateX(-50%);
        z-index: $zIndexCart;
        width: 95%;
        margin: 0 auto;
        padding: 1.2rem;
        background-color: $neutral-white;
        box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.1);

        @media screen and (min-width: $desktop) {
            top: $headerDesktopHeight;
            left: auto;
            transform: translateX(0);
            right: 0;
            width: 400px;
        }

        .title {
            padding-bottom: 2px;
            border-bottom: 1px solid $neutral-greyish-blue;
        }
    }

    .show-cart {
        opacity: 1;
    }

    .cart-product {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cart-product-title {
            color: $neutral-greyish-blue;
            margin: 0;
        }

        .cart-product-image {
            width: 50px;
            border-radius: 5px;
        }

        .cart-product-price-details {
            color: $neutral-greyish-blue;
            & > * {
                padding: 0 .1rem;
            }
        }

        .cart-product-total {
            color: $neutral-black;
            font-weight: 700;
        }

        .cart-product-remove-btn {
            background: url("./images/icon-delete.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }
    }

    .cart-checkout {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 5px;
        background-color: $primary;
        color: $neutral-white;
        font-size: 1rem;
        font-weight: 700;
    }
}

.main {
    margin-bottom: 1.5rem;
    
    .product-description {
        padding: 2rem;
        @media screen and (min-width: $desktop) {
            padding: 0 3rem;
        }
    
        .subtitle {
            color: $primary;
            font-size: .75rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    
        .title {
            color: $neutral-black;
        }
    
        .description {
            color: $neutral-greyish-blue;
            font-weight: 700;
        }
    
        .price-details {
            display: flex;
            align-items: center;
            justify-content: start;
            
            @media screen and (min-width: $desktop) {
                flex-wrap: wrap;
                margin-bottom: 1.5rem;
            }
        }
    
        .price {
            color: $neutral-black;
            font-size: 2rem;
            font-weight: 700;
        }
    
        .reduction {
            margin: 1rem;
            padding: .2rem .4rem;
            border-radius: 5px;
            background-color: $primary-variant;
            color: $primary;
            font-weight: 700;
        }
    
        .old-price {
            margin-left: auto;
            color: $neutral-greyish-blue;
            font-weight: 700;
            text-decoration:line-through;
            @media screen and (min-width: $desktop) {
                flex-basis: 100%;
            }
        }
    
        .add-to-cart {
            @media screen and (min-width: $desktop) {
                display: flex;
                justify-content: space-between;
            }
            .change-quantity {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border-radius: 5px;
                background-color: $neutral-light-greyish-blue;
                @media screen and (min-width: $desktop) {
                    flex-basis: 40%;
                }
            }
    
            .quantity {
                color: $neutral-black;
                font-weight: 700;
            }
    
            .add-to-cart-btn {
                width: 100%;
                margin-top: 1rem;
                padding: 1rem;
                border-radius: 5px;
                background-color: $primary;
                color: $neutral-white;
                font-size: 1rem;
                font-weight: 700;
                @media screen and (min-width: $desktop) {
                    flex-basis: 50%;
                }
            }
    
            .cart-icon {
                margin-right: .2rem;
    
                path {
                    fill: $neutral-white;
                }
            }
        }
    }
    
    .slider-section {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
            margin: 5% 0 5% 0;
        }
        .slider {
            @media screen and (min-width: $desktop) {
                padding: 0 2rem;
            }

            .main-image {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                .main-photo {
                    width: 100%;
                    max-height: 325px;
                    object-fit: cover;
                    @media screen and (min-width: $desktop) {
                        border-radius: 10px;
                        margin-bottom: 1.5rem;
                        cursor: pointer;
                    }
                }
    
                .slider-buttons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    z-index: $zIndexSlider;
                    button {
                        border-radius: 50%;
                        border: none;
                        background-color: $neutral-white;
                        height: 2em;
                        width: 2em;
                        margin: 2%;
                        cursor: pointer;
                        background-size: contain;
                        img {
                            width: 0.5em;
                        }
                    }
                    @media screen and (min-width: $desktop) {
                        display: none;
                    }
                }
            }
    
            .other-images {
                display: none;
                @media screen and (min-width: $desktop) {
                    display: flex;
                    justify-content: space-between;
                    img {
                        background-color: $neutral-white;
                        height: auto;
                        object-fit: cover;
                        border-radius: 10px;
                        max-width: 20%;
                        cursor: pointer;
                        margin: 0;
                        transition: 0.3s;
                        &:hover {
                            filter: saturate(0.5);
                        }
                    }

                    .active {
                        border: 2px solid $primary;
                        background-color: $primary;
                        // need to add new div and use ::before
                    }
                }
            }
        }
    }
    
    .lightbox {
        display: none;
        background-color: rgba($color: #000000, $alpha: 0.7);
        height: 100vh;
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .lightbox-main-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .lightbox-close {
                width: 500px;
                display: flex;
                justify-content: flex-end;
    
                .lightbox-close-btn {
                    border: none;
                    cursor: pointer;
                    grid-column: 2;
                    padding-bottom: 5px;
                    .lightbox-close-img {
                        path {
                            width: 40px;
                            fill: $neutral-white;
                            transition: 0.4s;
                        }

                        &:hover{
                            path {
                                fill: $primary; 
                            }
                        }
                    }
                }
            }
    
            .lightbox-main-photo {
                border-radius: 15px;
                width: 500px;
                position: relative;
            }
    
            .lightbox-slider-buttons {
                width: 500px;
                position: absolute;
                .lightbox-left-btn {
                    background-image: url('images/icon-previous.svg');
                    background-size: 10px;
                    position: absolute;
                    margin: 0;
                    left: -20px;
                }
    
                .lightbox-right-btn {
                    background-image: url('images/icon-next.svg');
                    background-size: 10px;
                    position: absolute;
                    margin: 0;
                    right: -20px;
                }
    
                button {
                    border-radius: 50%;
                    border: none;
                    background-color: $neutral-white;
                    background-size: 50% 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 40px;
                    width: 40px;
                    margin: 2%;
                    cursor: pointer;
                }
            }
        }
    
        .lightbox-other-images {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            width: 400px;
            img {
                max-width: 80px;
                border-radius: 10px;
                cursor: pointer;
                margin: 15px;
                transition: 0.3s;
                &:hover {
                    filter: saturate(0.5);
                }
            }

            .active {
                border: 2px solid $primary;
                background-color: $primary;
                opacity: 0.6;
            }
        }
    }
}

.footer {
    margin-top: auto;
    padding: 1rem;

    .attribution { 
        font-size: 0,6875rem;
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}